@font-face {
    font-family: "OpenSans";
    src: url("../fonty/OpenSans-Light.ttf");
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../fonty/OpenSans-LightItalic.ttf");
}




.nadpis h1 {
 font-family: "OpenSans";
 font-weight: normal;
 text-align:center;
 padding-top:50px;
}



/*  MENU   */
.menu {
 padding-top:5px;
font-family: "OpenSansLight";
}


.menu ul{
padding-left:0px; 
list-style:none;
}

.menu li{
min-width:80px;
width: 20%;
display:block;
float:left;
text-align:center;
}

.menu li a{
text-decoration:none;
color:black;
}

.menu li a:hover{
font-size:20px;
}





/* CONTENT */ 


.content {
   font-family: "OpenSansLight";
  padding-left: 85px;
}

.content h2 {
   font-family: "OpenSans";
   font-weight: normal;
   padding-top: 60px;
}


/* Příklad 1 */

.wid {
min-width:270px;
width:28%;
display:block;
float:left;
padding-right:35px;

}

/* Příklad 2 */

.video {
width:640px;
margin-left:auto;
margin-right:auto;

}

.audio {
width:300px;
margin-left:auto;
margin-right:auto;


}

/* Příklad 3 */

.mapa {
width:476px;
margin-left:auto;
margin-right:auto;

}


/* Příklad 4 */

.container {
width: 804px;
margin-left:0;
margin-right:auto;

}

.header {
width: 804px;
}

.logo {
width: 200px;
height:80px;
float:left;
display:block;
border: solid 1px;
text-align:center;

}

.search {
width: 598px;
height:80px;
float:left;
display:block;
border: solid 1px;
text-align:center;

}

.menus  {
width: 800px;
height:30px;
float:left;
display:block;
border: solid 1px;
text-align:center;

}

.cont {
width: 500px;
height:400px;
float:left;
display:block;
border: solid 1px;
text-align:center;

}

.sidebar {
width: 298px;
height:400px;
float:left;
display:block;
border: solid 1px;
text-align:center;

}

.bigf {
width: 800px;
height:75px;
float:left;
display:block;
border: solid 1px;
text-align:center;
}

.smallf {
width: 800px;
height:25px;
float:left;
display:block;
border: solid 1px;
text-align:center;

}

.standart h1{
width:200px;
color: green;
margin-left:auto;
margin-right:auto;
}


.standart {
width:900px;
}